

body {
    font-family: "Poppins", sans-serif;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 5px;
    
}

::-webkit-scrollbar-thumb {
    background-color: #01295f;
    border-radius: 50px;
    height: 70%;
}


